.name {
  font-weight: bold;
}

.timestamp {
  color: #AAAAAA;
}

.left {
  width: 20%;
  float: left;
  background: #2b78e4;
  height: 100vh;
  color: #c5d5df;
}

.right {
  width: 80%;
  float: right;
}

.selected {
  background-color: #1a64cb;
}